// стандартные стили, из проекта в проект


.container__header {
    max-width: 100% !important;
    @include respond-to(md){
        max-width: 720px !important;
    }
    @include respond-to(lg){
        max-width: 960px !important;
    }
    @include respond-to(xl){
        max-width: 1200px !important;
    }
}

.rouble {
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-family: 'rouble';
}
img {
    max-width: 100%;
}
*:focus{
    outline: none;
}
section {
    position: relative;
    z-index: 10;
}
.container{
    position: relative;
    z-index: 15;
}
.tablebodytext {
    display: none;
}
.nopadding {
    padding: 0;
}

.slick-slider {

    * {
        outline: none;
        user-select: none;
        user-focus: none;
    }
    .slick-slide{
        height: auto;
    }

    .slick-arrow {
        display: none !important;
        &:before {
            display: none;
        }
        @include respond-to(md) {
            display: block !important;
            position: absolute;
            top: auto;
            bottom: -100px;
            width: 54px;
            height: 54px;
            background-size: 54px;
        }
    }
    .slick-next {
        background-image: url('/images/icons/next.svg');
        left: calc(50% + 50px);
        margin-left: -54px;
    }
    .slick-prev {
        background-image: url('/images/icons/prev.svg');
        left: calc(50% - 50px);
        margin-left: -54px;
    }
}
.sliderHolder {
    overflow: hidden;
}

.desktop-show {

    @include respond-to(sm) {
        display: none;
    }
    @include respond-to(md) {
        display: block;
    }
    @include respond-to(lg) {

    }
}
.mobile-show {
    display: block;
    @include respond-to(sm) {

    }
    @include respond-to(md) {
        display: none;
    }
    @include respond-to(lg) {

    }
}
.to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    opacity: .5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 1;
    }
    img {
        width: 100%;
    }
}

.simple-list{
    &__element-holder{

    }
    &__element{

    }
    .simple-element{
        margin: 10px;
        border: 1px solid $black;
        &__name{

        }
    }
}
.imitate-link{
    background: none;
    border: none;
    display: inline;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.tech-wi{
    &__block{
        width: 50%;
        margin: 0 auto;
        background: white;
        padding: 10px;
        h2{
            text-align: center;
        }
    }
}
.notFoundPage {
    margin: 230px 0;
}