// переменные и миксины
// переменные берутся из стайлгайда

$black: #000;
$white: #fff;
$green-dark: #002f2f;
$dirty: #a7a37e;
$gray: #a1a1a1;
$blue: #046380;
$yellow: #efecca;
$txt: #313639;


$txt: #333333;
$red: #D62323;
$red-dark:  #B81111;
$dark-gray: #a7a7a7;




$text-color: rgb(53,53,53);


$linkColor: $txt;
$linkColor-visited: $red-dark;
$linkColor-hover: $red-dark;

$defaultShadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);

$mainFont: 'Open Sans', sans-serif;
$subFont: 'Open Sans', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$fontSize: 16px;




