.flat-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  &__item {
    //align-self: stretch;
  }
}

.flats-item {
  margin: 0 0 30px;
  padding-top: 60px;
  width: 290px;
  border-radius: 3px;
  border: 1px solid;
  position: relative;
  @include respond-to(sm) {
    margin: 0 10px 50px;
    width: 320px;
  }
  @include respond-to(md) {
    padding-top: 30px;
  }

  &__discount {
    position: absolute;
    top: 17px;
    left: 20px;
  }
  &__discount-item {
    padding: 4px 5px;
    border-radius: 3px;
    display: inline-block;
    background: $red;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    &:first-child {
      margin-right: 15px;
    }
  }
  &__info {
    padding: 0 30px;
  }
  &__star {
    margin: 17px 0 0 auto;
    width: 19px;
    height: 18px;
    background: url("/images/del/star.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 17px;
    &.active {
      background: url("/images/del/star-active.png") center no-repeat;
      background-size: contain;
    }
  }
  &__image {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include respond-to(sm) {
      height: 200px;
    }
    @include respond-to(md) {
      height: 230px;
    }
  }

  &__name {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    min-height: 60px;
    color: $green-dark;
  }
  &__dscr {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__dscr-item {
    width: 33.33%;
    line-height: 1;
  }
  &__facing {
    padding-left: 8px;
    color: $blue;
    border-left: 3px solid $blue;
    font-size: 16px;
    font-weight: 400;
  }
  &__square {
    font-size: 18px;
    font-weight: 400;
    color: $txt;
    span {
      font-size: 13px;
    }
  }
  &__floor {
    font-size: 18px;
    font-weight: 400;
    color: $txt;
    span {
      font-size: 13px;
    }
  }

  &__price {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
  }
  &__status {
    padding: 14px 0;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    color: $white;
    text-align: center;
  }


  &--booking {
    border-color: $dirty;
    .flats-item__status {
      background: $dirty;
    }
  }
  &--free {
    border-color: $green-dark;
    .flats-item__status {
      background: $green-dark;
    }
  }
  &--sale {
    border-color: $gray;
    .flats-item__status {
      background: $gray;
    }
  }
}