.header {
  padding: 20px 70px;
  background: $green-dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    width: 74%;
    display: none;
    @include respond-to(lg) {
      display: block;
    }
    ul {
      margin: 16px 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
       li {
         padding: 0 1%;
         display: block;

       }
    }
    a {
      font-size: 24px;
      font-weight: 400;
      color: $white;
      font-family: sans-serif;
    }
  }

  &__contacts {
    a {
      color: $white;
      font-size: 32px;
      font-weight: 400;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
   a {
     white-space: nowrap;
   }


}


.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba($black, .8);
  @include respond-to(lg) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    li {
      margin: 10px 0;
      a {
        color: $white;
        font-size: 20px;
      }
    }
  }
}