.header {
  padding: 20px 70px;
  background: $green-dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    width: 74%;
    ul {
      margin: 16px 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
       li {
         padding: 0 1%;
         display: block;

       }
    }
    a {
      font-size: 24px;
      font-weight: 400;
      color: $white;
      font-family: sans-serif;
    }
  }

  &__contacts {
    a {
      color: $white;
      font-size: 32px;
      font-weight: 400;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
   a {
     white-space: nowrap;
   }
}